<footer class="footer">
    <h2 class="footer__text">
        Copyright © 2023, TechnoWomen All Rights Reserved.
    </h2>
    <ul class="footer__social">
        <li><a href=""><img src="/images/footer/whatsapp.svg" alt=""></a></li>
        <li><a href=""><img src="/images/footer/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="/images/footer/facebook.svg" alt=""></a></li>
        <li><a href=""><img src="/images/footer/telegram.svg" alt=""></a></li>
        <li><a href=""><img src="/images/footer/youtube.svg" alt=""></a></li>
    </ul>
</footer>