<div class="container">

    <nav class="header__nav">
        <div class="header__logo">
            <a href="/">
                <img class="header__img" src="/images/header_logo.png" alt="header_logo">

            </a>
        </div>

        <div class="header__burger">
            <span></span>
        </div>

        <ul class="header__list">
            <li class="header__list-item">
                <span>О нас</span>
                <ul class="header__sublist">
                    <li class="header__sublist-item"><a href="/history">История</a></li>
                    <li class="header__sublist-item"><a href="/mission">Миссия и Цели</a></li>
                    <li class="header__sublist-item"><a href="/founders">Учередители</a></li>
                </ul>
            </li>

            <li class="header__list-item">
                <span>Наш проект</span>
                <ul class="header__sublist">
                    <li class="header__sublist-item"><a href="/projects">Проекты TECHNOGIRL</a></li>
                    <li class="header__sublist-item"><a href="/support">Поддержка IT бизнеса</a></li>
                    <li class="header__sublist-item"><a href="/colobarators">Центр коллабраций</a></li>
                </ul>
            </li>
            <li class="header__list-item">
                <span>Мероприятия</span>
                <ul class="header__sublist">
                    <li class="header__sublist-item"><a href="/events">Предстоящие мероприятия</a></li>
                    <li class="header__sublist-item"><a href="/archive">Архив мероприятий </a></li>
                </ul>
            </li>
            <li class="header__list-item">
                <span>Наши комуникации</span>
                <ul class="header__sublist">
                    <li class="header__sublist-item"><a href="/news">Новости </a></li>
                    <li class="header__sublist-item"><a href="/gallery">Фотогалерея</a></li>
                    <li class="header__sublist-item"><a href="URL">Видеоблог</a></li>
                </ul>
            </li>
            <li class="header__list-item">
                <a href="/contact">Контакты</a>
            </li>
            <li>
                <div class="language-selector">
                    <label for="language-select"></label>
                    <select id="language-select" name="language">
                        <option value="ru" selected>RU</option>
                        <option value="kg">KG</option>
                        <option value="en">EN</option>
                    </select>
                </div>
            </li>
        </ul>

    </nav>
</div>
