<!DOCTYPE html>
<html lang="kg">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Некоммерческая организация Techno Women объединила женщин, работающих в технологических отраслях"
    />
    <meta
      name="keywords"
      content="Techno Women, Некоммерческая организация Techno Women"
    />
    <meta property="og:url" content="https://technowomen.kg/" />
    <meta property="og:type" content="message/news" />
    <meta property="og:title" content="TechnoWomen" />
    <meta
      property="og:description"
      content="Некоммерческая организация Techno Women"
    />
    <meta property="og:image" content="https://technowomen.kg/logo.svg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="technowomen.kg" />
    <meta property="twitter:url" content="https://technowomen.kg/" />
    <meta name="twitter:title" content="TechnoWomen" />
    <meta
      name="twitter:description"
      content="Некоммерческая организация Techno Women"
    />
    <meta name="twitter:image" content="https://technowomen.kg/logo.svg" />
    <title>tw</title>

    <!--    media-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
</html>
