<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>

<main class="main">
    <section class="new">
        <div class="container">
            <h2 class="new__title">
                Новости
            </h2>
            <div class="new__row">
                <div class="new__card-main">
                    <img src="/images/news/news2.jpeg" alt="">
                </div>
                <div class="new__card-main">
                    <h2 class="new__card-main-title">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </h2>
                    <p class="new__card-main-desc">
                        приняли участие в субрегиональные консультации для партнеров Центральной Азии на тему: «Расширение цифровых возможностей женщин и девочек в горных регионах для устойчивого развития с учетом гендерных аспектов через обучение» в гибридном формате🍃

                        Консультации дали возможность, обсудить возможности, которые предоставляют современные цифровые технологии для женщин и их использование в раскрытие их потенциала, в различных направлениях жизнедеятельности 🍃

                        Абсолютно любая женщина может стать сильной, успешной и знаменитой, выбрав для этого свой путь🤍
                    </p>
                </div>
                <div class="new__card">
                    <img src="/images/news/news1.jpeg" alt="" class="new__card-img">
                    <div>
                        <p class="new__card-desc">
                            Вчера прошла встреча с Замминистром здравоохранения по цифровизации - Нурийла Шериевой и экспертом по образованию Мариной Анарбековой

                            Стороны обсудили совместные проекты по здравоохранению и ряд проектов по части образования.
                        </p>
                        <p class="new__card-date">
                            3 янв
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>