.founder {
  position: relative;
  padding: 80px 0 120px;
  &::after {
    content: '';
    background: url('../../images/swiper/ellipse.svg') center/cover no-repeat;
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 3;
    width: 100%;
    height: 130px;
  }
  &::before {
    content: '';
    background: url('../../images/swiper/ellipse.svg') center/cover no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 150px;
  }
  &-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    z-index: 4;
  }
  &-card {
    background: linear-gradient(
      180deg,
      #5c2bdf 70.32%,
      rgba(241, 23, 146, 0.7) 100%
    );
    position: relative;
    transition: .5s all;
    &:hover {
      transition: .5s all;
      .founder-card-info {
        background: linear-gradient(
                        180deg,
                        #5c2bdf 70.32%,
                        rgba(241, 23, 146, 0.7) 100%
        );
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .founder-card-text {
        display: block;
      }
    }
    border-radius: 10px;
    width: 100%;
    padding-bottom: 45px;
    text-align: center;
    &-img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
      margin-bottom: 16px;
    }

    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: white;
      margin-bottom: 20px;
    }

    &-text {
      transition: .5s all;
      display: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: white;
      text-align: center;
      padding: 0 20px;
    }
  }

  //.swiper {
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //}
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #fff !important;
  }
  .foundSwiper {
    height: 70%;
  }
  &_second::before {
    height: 190px;
  }
}

@media (max-width: 992px) {
  .founder-card-img {
    max-height: 410px;
  }
  .founder::before {
    height: 167px;
  }
  .founder::after {
    height: 107px;
  }
}
