@media (max-width: 1440px) {

}

@media (max-width: 1320px) {
  .main__history {
    &-text1 {
      font-size: 25px;

    }

    &-title {
      font-size: 50px;
      padding-bottom: 100px;
    }

  }
  .history-list-item {
    font-size: 25px;
  }


}

@media (max-width: 1200px) {

  .main__buttons {
    &-btn {
      width: 270px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .header__list {
    column-gap: 30px;
  }
  .main__title {
    font-size: 45px !important;
  }
  .main__target-title {
    font-size: 40px !important;
  }
  .info__card-item {
    font-size: 22px !important;
  }
  .founder-card-img {
    height: 410px;
  }
  .founder::before {
    bottom: 20px !important;
  }
  .partners__img {
    width: calc(50% - 100px) !important;
  }

  .footer {
    flex-direction: column-reverse;
    row-gap: 50px;
  }
}

@media (max-width: 992px) {
  .inNumbers {
    padding: 130px 53px 170px 420px;

    &__rightSvg {
      z-index: -1;
    }

    &__leftImg {
      z-index: -1;
    }
  }
  .header {
    padding: 2% 0;
  }
  .header__img {
    width: 70%;
  }
  .main__title {
    font-size: 40px;
  }
  .main__buttons {
    row-gap: 12px;

    &-btn {
      padding: 5px;
      font-size: 12px;
      width: 195px;
    }

  }
  .inNumbers__leftImg {
    display: none;
  }

  .main__about-box1 {

    margin: 19px 44px 14px 41px;

    &-text {
      font-size: 20px;
      line-height: 23px;
    }
  }
  .main__target {
    padding: 65px 0 116px;

    &-title {
      font-size: 32px;
      margin-bottom: 22px;
    }
  }
  .info__cards {
    margin-top: 6%;

    .info__card {
      padding: 20px 0px 40px 40px;

    }
  }
  .info__card-item {
    font-size: 20px;
    line-height: 21px;
  }


  .main__history {
    padding: 32px 10% 45px 10%;

    &::before {
      bottom: -4%;
    }
  }
  .footer {
    padding: 2.5% 2.5%;

    &__text {
      font-size: 18px;
    }

    &__social {
      column-gap: 18px;

      &-img {
        width: 80%;
      }
    }
  }


  .header__burger {
    position: relative;
    right: 0;
    width: 33px;
    height: 33px;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      top: 50%;
      transform: translateY(-50);
      background: #222;
      transition: all .2s ease-in-out;

      &:before, &:after {
        position: absolute;
        background: #222;
        content: '';
        width: 100%;
        height: 4px;
        transition: all .2s ease-in-out;
      }

      &:before {
        top: -8px;
      }

      &:after {
        top: 8px;
      }
    }

    &.open {
      span {
        background: transparent;

        &:before {
          transform: rotate(45deg) translate(5px, 6.4px);
        }

        &:after {
          transform: rotate(-45deg) translate(5px, -6.4px);
        }
      }
    }

  }

  .header__list {
    position: absolute;
    right: -100%;
    top: 100%;
    background-color: #fff;
    flex-direction: column;
    max-height: 100vh;
    height: fit-content;
    border-bottom-left-radius: 10px;
    gap: unset;
    text-align: right;
    padding: 30px 0;
    transition: 0.3s;
    z-index: 100;

    &.show {
      right: 0;
    }

    &-item {
      padding: 15px;
      height: unset;

      &:hover .header__sublist {
        transform: scale(1);
        right: 100%;
        top: 0;
      }
    }
  }
  .header__sublist {
    display: flex;
    right: 0;
    top: -50%;
    transition: 0.3s !important;
    transform: scale(0);
    border-radius: 20px 0 0 20px;
    left: unset;
  }


}

@media (max-width: 886px) {
  .header {
    padding: 1% 0;

    &__img {
      position: absolute;
      width: 8%;
      height: unset;
    }
  }
  .main {
    &__logo {
      display: none;
    }

    &__box {
      justify-content: center;
      padding-bottom: 80px;
    }

    &__buttons {
      margin-top: 140px;
    }

    &__target {
      &-title {
        font-size: 20px;
      }

    }

    &__history {

      &-title {
        font-size: 30px;
        padding-bottom: 10px;
      }

      &-text1 {
        font-size: 20px;
        line-height: 25px;
      }

      &-list {
        padding-left: 3.5%;
      }

    }
  }
  .main__about-box1 {
    flex-direction: column !important;

    &-text {
      width: 100% !important;
    }
  }
  .main__about-img {
    width: 100% !important;
  }
  .main__target-title {
    font-size: 35px !important;
  }
  .history-list-item {
    font-size: 20px;
    line-height: 25px;
  }

  .footer {
    padding: 2.5% 2.5%;

    &__text {
      font-size: 16px;


    }

    &__social {

      &-img {
        width: 80%;
      }
    }
  }
  .info__card {
    width: 100% !important;

    &_second {
      top: 0 !important;
    }
  }
  .openTech__title {
    font-size: 35px;
  }
  .inNumbers__list {
    font-size: 33px;
  }
  .founder-title {
    margin-bottom: 40px;
  }
  .founder::before {
    height: 124px !important;
  }
  .founder::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .founder-title {
    font-size: 50px;
  }
  .inNumbers {
    padding: 130px 0 170px 0;
    text-align: center;

    &__title {
      margin-bottom: 100px;
    }

    &__list {
      font-size: 30px;
    }

    &__leftImg {
      display: none;
    }

    &__circle {
      display: none;
    }
  }

  .flexContainer__block-btn {
    font-size: 13px;
    line-height: 0;
    width: 150px;
  }
  .partners {
    padding: 57px 60px 92px;
    //&__row {
    //  display: flex;
    //  flex-direction: column;
    //  margin-top: 50px;
    //  row-gap: 70px;
    //  align-items: center;
    //}
    &__img {
      width: 70%;
    }
  }
  .news {
    height: 510px;

  }
  .openTech {
    height: 435px;

    &__title {
      font-size: 35px !important;
    }

    &__btn {
      width: 400px;
      height: 74px;
    }
  }
  .main {
    &__history {
      &-list {
        padding-left: 25px;
      }
    }

    &__target-title {
      font-size: 30px !important;
    }

    &__target-buttons-btn {
      font-size: 10px;
      padding: 2%;
    }
  }
  .info {
    &__card {

      &-title {
        font-size: 20px;
      }

      &-item {
        font-size: 18px;
        line-height: 17px;
      }
    }
  }

  .inNumbers__list {
    text-align: left;
    font-size: 27px !important;
  }
  .founder-title {
    font-size: 47px !important;
  }

}

@media (max-width: 676px) {
  .main__title {
    font-size: 40px !important;
  }
  .main__target-title {
    font-size: 26px !important;
    line-height: 40px !important;
  }
  .openTech__title {
    font-size: 30px !important;
  }
  .openTech__btn {
    width: 390px !important;
    height: 70px !important;
    font-size: 35px !important;
  }
  .inNumbers__list {
    text-align: left;
    font-size: 23px !important;
    line-height: 24px !important;
  }

  .founder-title {
    font-size: 40px;
  }

  .founder {
    &::before {
      height: 135px !important;
    }

    .swiper {
      padding: 0 150px;
    }
  }
  .founder-card {
  }
  .founder-card-img {
    object-fit: cover !important;
    max-height: 440px !important;
  }
  .news {
    height: 450px;
  }
  .main {
    &__title {
      font-size: 35px;
    }
  }
  .openTech {
    height: 380px;

    &__title {
      font-size: 33px;
      line-height: 40px;
    }
  }
  .partners__img {
    width: 50% !important;
  }
  .footer__text {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .main__title {
    font-size: 34px !important;
  }
  .news {
    height: 390px;
  }
  .openTech {
    height: 325px;

    &__title {
      font-size: 28px;
      line-height: 30px;
    }

    &__btn {
      width: 350px;
      height: 65px;
    }
  }
  .main {
    &__title {
      font-size: 29px;
    }

    &__history {
      padding: 32px 2% 45px 2%;

      &-list {
        padding-left: 5.5%;
      }
    }

    &__buttons {
      margin-top: 30px;

      &-btn {
        font-size: 16px !important;
        width: 240px !important;
        padding: 10px !important;
      }
    }

    &__text {
      font-size: 25px !important;
    }

    &__about-box1 {
      margin: 0 !important;
    }

    &__about-img {
      width: 100%;
    }


  }
  .info {
    &__cards {
      display: flex;
      flex-direction: column;

    }

    .info__card {
      width: 100%;

      &-item {
        line-height: 34px;
      }
    }
  }

  .openTech__title {
    font-size: 23px !important;
  }
  .openTech__btn {
    width: 290px !important;
    height: 55px !important;
    font-size: 25px !important;
  }
  .inNumbers__title {
    font-size: 48px !important;
  }
  .inNumbers__list {
    padding-left: 100px;
  }
  .founder-title {
    font-size: 34px !important;
  }

  .footer__text {
    font-size: 18px !important;
  }

  .footer {

    &__text {
      font-size: 16px;


    }

    &__social {

      &-img {
        width: 80%;
      }
    }
  }

}

@media (max-width: 500px) {
  .main__title {
    line-height: 43px !important;
  }
  .founder {
    &::before {
      height: 150px !important;
    }

    .swiper {
      padding: 0 80px;
    }
  }
  .partners__img {
    width: 80% !important;
  }
  .footer__text {
    font-size: 16px !important;
  }
}

@media (max-width: 425px) {
  .main__target-title {
    margin-bottom: 60px;
  }
  .main__target-buttons-btn {
    font-size: 17px !important;
  }
  .openTech__title {
    text-align: center;
    line-height: 33px !important;
  }
  .openTech {
    padding: 130px 0 !important;
    height: 435px
  }
  .inNumbers__list {
    padding-left: 40px !important;
  }

  .founder-title {
    font-size: 27px !important;
  }
  .founder {
    &::before {
      height: 140px !important;
    }

    .swiper {
      padding: 0 20px;
    }
  }
  .news__title {
    font-size: 31px !important;
  }
  .news__btn {
    width: 250px !important;
    height: 50px !important;
    font-size: 30px !important;
  }
  .partners__row {
    margin-top: 100px !important;
  }
  .footer__text {
    font-size: 13px !important;
  }
}

@media (max-width: 375px) {
  .main__text {
    font-size: 19px !important;
  }
  .main__about-box1 {
    padding: 60px 20px 30px !important;
  }
  .main__about-box1-text {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 19px;
    }
  }
  .main__target-title {
    font-size: 19px !important;
    line-height: 32px !important;
  }
  .info__card-item {
    font-size: 16px !important;
    line-height: 29px !important;
  }
  .openTech__title {
    font-size: 26px !important;
  }
  .founder-title {
    font-size: 24px !important;
  }
  .partners__title {
    font-size: 40px !important;
  }
  .footer__text {
    font-size: 11px !important;
  }
  .footer__text {
    font-size: 11px;
  }
  .footer__social li a {
    img {
      width: 70% !important;
    }
  }
}

@media (max-width: 320px) {
  .main__title {
    font-size: 32px !important;
  }
  .main__text {
    font-size: 17px !important;
  }
  .main__about-box1 {
    padding: 60px 9px 30px !important;
  }
  .main__about-box1-text p {
    font-size: 15px;
  }
  .info__card-item {
    font-size: 15px !important;
    line-height: 24px !important;
  }
  .info__card {
    padding: 20px 20px 40px 40px!important;
    &-title {
      font-size: 20px!important;
    }
  }
  .openTech__title {
    font-size: 22px !important;
  }
  .inNumbers__title {
    font-size: 37px !important;
  }
  .inNumbers__list {
    text-align: left;
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .founder-title {
    font-size: 34px !important;
    line-height: 45px!important;
  }
  .founder .swiper {
    padding: 0;
  }
  .founder-card-img{
    height: 350px!important;
  }
  .news {
    padding: 200px 0 !important;
    height: 0;
  }
  .news__title {
    font-size: 25px !important;
  }
  .partners__img {
    width: 100% !important;
  }
  .footer__social li a img {
    width: 100% !important;
  }
  .footer__text {
    font-size: 9px !important;
  }
}

