.mission {
  padding: 100px 0 130px;
  background: linear-gradient(138.29deg, #f5168f 0%, #552de5 95.87%);
  &__title {
    font-size: 50px;
    line-height: 73px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background: rgba(192, 196, 198, 0.2);
    border: 1px solid #e81896;
    color: #fff;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &-title {
      font-size: 30px;
      font-weight: 500;
    }
    &-block {
      width: 80%;
      font-size: 22px;
      p {
        text-align: center;
      }

      ol {
        display: flex;
       flex-direction: column;
        gap: 30px;

      }
    }
  }
}