.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #0F2935;
  border-radius: 10px;
  padding: 12px 20px 8px 15px;
}
.flexContainer__input {
  border: none;
  width: 70%;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  outline: none;
  color: #0F2935;
}
.flexContainer__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0F2935;
}
.flexContainer__input::-moz-placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0F2935;
}
.flexContainer__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0F2935;
}
.flexContainer__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0F2935;
}
.flexContainer__input::placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #0F2935;
}
.flexContainer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexContainer__block-btn {
  background: #4334F1;
  border-radius: 5px;
  width: 270px;
  height: 40px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  border: none;
}
.flexContainer__block-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}