.founder {
  position: relative;
  padding-bottom: 120px;
  z-index: -1;
}
.founder::after {
  content: "";
  background: url("../../images/swiper/ellipse.svg") center/cover no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 130px;
}
.founder::before {
  content: "";
  background: url("../../images/swiper/ellipse.svg") center/cover no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 150px;
}
.founder-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  z-index: 4;
}
.founder-card {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70.32%, #5C2BDF), to(rgba(241, 23, 146, 0.7)));
  background: linear-gradient(180deg, #5C2BDF 70.32%, rgba(241, 23, 146, 0.7) 100%);
  border-radius: 10px;
  width: 100%;
  padding-bottom: 45px;
  text-align: center;
}
.founder-card-img {
  width: 100%;
  margin-bottom: 16px;
}
.founder-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-bottom: 20px;
}
.founder-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-align: center;
}
.founder .swiper-button-prev::after, .founder .swiper-button-next::after {
  color: #fff !important;
}