.info {
  margin-bottom: 5%;
  background: #FFFFFF;
}
.info__cards {
  margin-top: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info__card {
  background: -webkit-gradient(linear, left top, left bottom, from(#6828CF), color-stop(93.23%, #F11792), to(rgba(3, 3, 3, 0)));
  background: linear-gradient(180deg, #6828CF 0%, #F11792 93.23%, rgba(3, 3, 3, 0) 100%);
  border-radius: 20px;
  padding: 49px 5px 89px 40px;
  width: calc(50% - 20px);
}
.info__card-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}
.info__card-item {
  list-style-type: circle;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 31px;
}