.partners {
  padding: 157px 60px 192px;

  &__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    text-align: center;

    color: #0F2935;

  }

  &__row {
    display: flex;
    column-gap: 200px;
    margin-top: 208px;

  }

  &__img {
    width: calc(33.3333% - 133.3333px);
  }
}