* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
.nav {
  padding: 30px;
}

@import '_baseMD';
@import '_media';
@import '_main';
@import '_new';
@import '_gallery';
@import '_contact';
@import '_suppport';
@import '_info';
@import '_content';
@import '_calendar';
@import '_flexContainer';
@import '_founder';
@import '_inNumbers';
@import '_header';
@import '_news';
@import '_onpenTech';
@import '_partners';
@import '_footer';
