* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.nav {
  padding: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  .popup {
    width: 380px;
    position: relative;
    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      font-size: 25px;
      color: #E81896;
    }
  }
  .contact__form {
    width: 100%;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background: rgba(192, 196, 198, 0.90);
  }
}



@import '_header';
@import '_baseMD';
@import '_media';
@import '_main';
@import '_new';
@import '_gallery';
@import '_contact';
@import '_suppport';
@import '_info';
@import '_content';
@import '_calendar';
@import '_flexContainer';
@import '_founder';
@import '_inNumbers';
@import '_news';
@import '_onpenTech';
@import '_partners';
@import '_footer';
