* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
.nav{
  padding:30px ;
}

@import "media";
@import "main";
@import "new";
@import "gallery";
@import "contact";
@import "suppport";
@import "info";
@import "content";
@import "calendar";
@import "flexContainer";
@import "founder";
@import "inNumbers";
@import "header";
@import "news";
@import "onpenTech";
@import "partners";
@import "footer";