<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <div class="container">
        <section class="nav">
            <form class="flexContainer">
                <input class="flexContainer__input"
                       placeholder="Поиск мероприятий"
                       type="search"
                       minlength="5"
                       maxlength="30"
                />
                <button type="button" class="flexContainer__block-btn">Поиск мероприятия</button>
            </form>
        </section>
        <section class="calendar">
            <p class="calendar__today">Сегодня</p>
            <form class="calendar__block">
                <input type="date" class="calendar__input">
            </form>
        </section>
        <section class="content">
            <div class="content__block">
                <p class="content__block-text">

                    C 12 по 28 ноября 2022 года официальная делегация некоммерческой организации «Techno Women» посетила
                    Соединенные Штаты Америки, с целью продвижения женщин-предпринимателей Казахстана на международном
                    уровне, обменом опытом, поиска потенциальных партнеров и программ по развитию цифровых компетенций
                    девочек и женщин. Команда единомышленниц посетила города Сан-Франциско и Лос-Анджелес. В ходе
                    поездки были проведены ряд встреч с крупными…
                    <br/> Подробнее
                </p>

                <img class="content__block-img" src="../../../src/images/events/events.png" alt="events.png"/></div>

            <div class="content__line"></div>
        </section>
        <section class="content">
            <div class="content__block">
                <p class="content__block-text">

                    C 12 по 28 ноября 2022 года официальная делегация некоммерческой организации «Techno Women» посетила
                    Соединенные Штаты Америки, с целью продвижения женщин-предпринимателей Казахстана на международном
                    уровне, обменом опытом, поиска потенциальных партнеров и программ по развитию цифровых компетенций
                    девочек и женщин. Команда единомышленниц посетила города Сан-Франциско и Лос-Анджелес. В ходе
                    поездки были проведены ряд встреч с крупными…
                    <br/> Подробнее
                </p>

                <img class="content__block-img" src="../../../src/images/events/events.png" alt="events.png"/></div>

            <div class="content__line"></div>
        </section>
        <section class="content">
            <div class="content__block">
                <p class="content__block-text">

                    C 12 по 28 ноября 2022 года официальная делегация некоммерческой организации «Techno Women» посетила
                    Соединенные Штаты Америки, с целью продвижения женщин-предпринимателей Казахстана на международном
                    уровне, обменом опытом, поиска потенциальных партнеров и программ по развитию цифровых компетенций
                    девочек и женщин. Команда единомышленниц посетила города Сан-Франциско и Лос-Анджелес. В ходе
                    поездки были проведены ряд встреч с крупными…
                    <br/> Подробнее
                </p>

                <img class="content__block-img" src="../../../src/images/events/events.png" alt="events.png"/></div>
            <div class="content__line"></div>
        </section>
    </div>


</main>
<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>