<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>

<main class="main">
    <section class="gallery">
        <div class="container">
            <h2 class="new__title">
                Галлерея
            </h2>
            <div class="gallery__row">
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
                <div class="gallery__card">
                    <img src="/images/news/news2.jpeg" alt="">
                    <p class="gallery__card-info">
                        Члены technowomenkg , 28 февраля в рамках региональной подготовки к 67-й сессии Комиссии ООН по положению женщин
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>


<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>