<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <section class="founder">
        <h2 class="founder-title">Учередители Techno Women</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="founder-card">
                        <img src="/images/swiper/swiperImg.png" alt="" class="founder-card-img">
                        <h3 class="founder-card-title">Сауле Жумажанова
                        </h3>
                        <p class="founder-card-text">Сауле Жумажанова – соучредитель компании Q Group; руководитель
                            компании
                            QazTiqet; партнер</p>
                    </div>


                </div>
                <div class="swiper-slide">
                    <div class="founder-card">
                        <img src="/images/swiper/swiperImg.png" alt="" class="founder-card-img">
                        <h3 class="founder-card-title">Сауле Жумажанова
                        </h3>
                        <p class="founder-card-text">Сауле Жумажанова – соучредитель компании Q Group; руководитель
                            компании
                            QazTiqet; партнер</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="founder-card">
                        <img src="/images/swiper/swiperImg.png" alt="" class="founder-card-img">
                        <h3 class="founder-card-title">Сауле Жумажанова
                        </h3>
                        <p class="founder-card-text">Сауле Жумажанова – соучредитель компании Q Group; руководитель
                            компании
                            QazTiqet; партнер</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="founder-card">
                        <img src="/images/swiper/swiperImg.png" alt="" class="founder-card-img">
                        <h3 class="founder-card-title">Сауле Жумажанова
                        </h3>
                        <p class="founder-card-text">Сауле Жумажанова – соучредитель компании Q Group; руководитель
                            компании
                            QazTiqet; партнер</p>
                    </div>
                </div>
                <div class="swiper-slide">

                    <div class="founder-card">
                        <img src="/images/swiper/swiperImg.png" alt="" class="founder-card-img">
                        <h3 class="founder-card-title">Сауле Жумажанова
                        </h3>
                        <p class="founder-card-text">Сауле Жумажанова – соучредитель компании Q Group; руководитель
                            компании
                            QazTiqet; партнер</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

</main>
<%- include('../../partials/footer') %>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>