<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>


<main>
    <section class="support">
        <h2 class="founder-title">
            Поддержка IT бизнеса
        </h2>
        <div class="container">
            <div class="support__content">
                Тут скоро будет контент
            </div>
        </div>

    </section>

</main>
<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>