<%- include('../../partials/head') %>

<body>


<header class="header">
    <%- include('../../partials/header') %>
</header>



<main>
    <div class="container">
        <section class="content">
            <h2>Архив</h2>
            <%console.log(data.response)%>
                <h2></h2>
                <div class="content__block">
                    <p class="content__block-text">
                    </p>
                    <div class="content__block-card">
                        <img src="" alt="events.png"/>
                    </div>
                </div>
                <div class="content__line"></div>
        </section>
    </div>


</main>
<%- include('../../partials/footer') %>

<%- include('../../partials/foot') %>